<div class="container" fxLayout="column" fxLayoutAlign="center center">

    <div class="roles" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="0" fxLayoutGap.lt-md="20px">
        <div class="play-roles" fxFlex="50" fxLayout="column" fxLayoutGap="30px">
            <span class="subtitle">Suas funções escolhidas: </span>

            <div fxLayout="row" fxLayoutGap="30px"  class="container-roles">
                <div class="role" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/ICONS/top.png" alt="">
                </div>
    
                <div class="role" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/ICONS/top.png" alt="">
                </div>
    
                <div class="role" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/ICONS/top.png" alt="">
                </div>
            </div>
        </div>

        <div class="search-roles" fxFlex="50" fxLayout="column" fxLayoutGap="30px">
            <span class="subtitle">Funções que está procurando: </span>

            <div fxLayout="row" fxLayoutGap="30px" class="container-roles">
                <div class="role" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/ICONS/top.png" alt="">
                </div>
    
                <div class="role" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/ICONS/top.png" alt="">
                </div>
    
                <div class="role" fxLayout="column" fxLayoutAlign="center center">
                    <img src="./assets/ICONS/top.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>