<div class="container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">

    <div class="roles" fxLayout="column" fxLayoutGap="20px">

        <div class="tier" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <img 
                [src]="loggedUser.soloqData ? './assets/ICONS/Emblem_' + loggedUser.soloqData.tier + '.png' : ''" 
                alt="" 
                style="width: 80px;">
            
            <div fxLayout="column" fxLayoutGap="10px">
                <span *ngIf="loggedUser.soloqData" class="tier-rank">
                    {{loggedUser.soloqData.tier + ' ' + loggedUser.soloqData.rank}}
                </span>

                <span *ngIf="loggedUser.soloqData" class="win-lose">
                    <span [innerText]="loggedUser.soloqData.wins + ' W'" style="color: #85d985;"></span>
                    /
                    <span [innerText]="loggedUser.soloqData.losses + ' L'" style="color: #c75858;"></span>
                </span>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div 
            style="width: 100%;"
            fxLayout="row" 
            fxLayout.lt-lg="column" 
            fxLayoutAlign="center center" 
            fxLayoutAlign.lt-lg="start start" 
            fxLayoutGap="0" 
            fxLayoutGap.lt-lg="30px">
            <div class="play-roles" fxFlex="50" fxLayout="column" fxLayoutGap="30px">
                <span class="subtitle">Suas funções escolhidas: </span>
    
                <div fxLayout="row" fxLayoutGap="30px"  class="container-roles">
                    <div 
                    class="role" 
                    fxLayout="column" 
                    fxLayoutAlign="center center"
                    *ngFor="let role of loggedUser.playRole">
                        <img [src]="'./assets/ICONS/' + role + '.png'" alt="">
                    </div>
                </div>
            </div>
    
            <div class="search-roles" fxFlex="50" fxLayout="column" fxLayoutGap="30px">
                <span class="subtitle">Funções que está procurando: </span>
    
                <div fxLayout="row" fxLayoutGap="30px" class="container-roles">
                    <div 
                    class="role" 
                    fxLayout="column" 
                    fxLayoutAlign="center center"
                    *ngFor="let role of loggedUser.searchRole">
                        <img [src]="'./assets/ICONS/' + role + '.png'" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <span style="font-size: 24px; text-align: start; width: 90%; max-width: 1280px;">Recomendações</span>

    <div class="roles" fxLayout="row wrap" fxLayoutAlign="space-around start">

        <span class="not-found" *ngIf="users.length == 0">Sem usuários encontrados, aguarde alguém fazer login...</span>

        <div 
            class="card" 
            fxLayout="column" 
            fxLayoutGap="20px" 
            fxFlex="30"
            *ngFor="let user of users">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span [innerText]="user.nickname" style="font-size: 18px"></span>

                <mat-icon class="mat-18" class="close" (click)="removeUser(user)">close</mat-icon>
            </div>
            

            <div fxLayout="row" fxLayoutAlign="space-between end">
                <div fxLayout="row wrap" fxLayoutGap="20px">
                    <div 
                    class="role" 
                    fxLayout="column" 
                    fxLayoutAlign="center center"
                    *ngFor="let role of user.playRole">
                        <img [src]="'./assets/ICONS/' + role + '.png'" alt="">
                    </div>
                </div>

                <img 
                [src]="user.soloqData ? './assets/ICONS/Emblem_' + user.soloqData.tier + '.png' : ''" 
                alt="" 
                style="width: 100px;">
            </div>

            <div fxLayout="row" fxLayoutAlign="end start">
                <button mat-flat-button class="invite-button" (click)="removeUser(user)">Convidar</button>
            </div>
            
        </div>
    </div>
</div>