<nav fxLayout="row" fxLayoutAlign="space-between center">
    <span>LOGO</span>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" style="cursor: pointer;">
        <mat-icon>notifications</mat-icon>

        <button mat-button [matMenuTriggerFor]="menu" style="margin-top: 10px">
            <span class="username">{{loggedUser.nickname}}</span>
            <span class="material-icons">
                expand_more
            </span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon>Sair
            </button>
        </mat-menu>
    </div>
</nav>