$white      : #FFFFFF;
$lightergrey: #F8F8F8;
$lightgrey  : #e5e5e5;
$darkgrey   : #2e3241;
$dark       : #606060;

$darkred    : #bf0413;
$lightred   : #bf455b;
$red        : #f20505;
$lightcyan  : #1d3640;
$darkcyan   : #091926;
