/* You can add global styles to this file, and also import other style files */

@use './assets/colors' as color;

html,
body {
    height: 100%;
}
body {
    margin: 0;
}

* {
    font-family: "Montserrat", sans-serif;
}

*:focus {
    outline: none;
}

.title {
    font-size: 24px;
}

.subtitle {
    font-size: 18px;
}

.submit-button {
    border-radius: 20px !important;   
    background-color: color.$darkred;
    font-size: 16px;
    width: 150px;
    color: color.$white;
}

.note {
    font-size: 12px;
    opacity: 0.5;
    text-decoration: underline;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    right: 20px;
}

.container {
    background-color: color.$darkcyan;
    height: calc(100% + 80px);
    color: color.$white;
}

.auth.content {
    background-color: color.$lightcyan;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 90%;
    max-width: 540px;
    border-radius: 8px;
    position: relative;
}

.roles {
    background-color: color.$lightcyan;
    padding: 30px 40px;
    width: 90%;
    max-width: 1280px;
}

.role {
    background-color: rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: all .5s;

    img {
        width: 65px;
    }
}

.role:hover {
    opacity: 0.8;
}